@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

$dark-bg-color: #111;
$font-color: #fff;
$font-opacity: 72%;
$font_Zona: 'Zona Pro', sans-serif;
$font_Averta: 'Averta', sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  background-color: $dark-bg-color;
  max-width: 1680px;
  min-width: 320px;
  width: 100%;
  font-family: $font_Averta;
  font-weight: 400;
  color: $font-color;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.logo__image {
  width: 170px;
  height: 42px;
}

.link {
  text-decoration: none;
  color: inherit;
}

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 42;

  &__container {
    width: 100%;
    padding: 52px 65px 0 60px;
  }

  &__row {
    display: flex;
    width: 100%;
    align-items: center;
    font-size: 16px;
    line-height: 1.5;
  }

  &__column {
    &_logo {
      margin-right: auto;
    }

    &_contacts {

    }

    &_contacts-list {
      list-style: none;
      display: flex;
    }

    &_contacts-item {
      padding-right: 24px;
    }

    &_partnership {
      padding: 0 60px;
    }

    &_lang {

    }

    &_lang-list {
      list-style: none;
      display: flex;
    }

    &_lang-item:not(:last-of-type) {
      padding-right: 28px;
    }
  }
}

.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 42;

  &__row {
    display: flex;
    margin: 0 60px 54px;
    justify-content: space-between;
    align-items: center;
  }
}

.content {
  width: 100vw;
  position: relative;
  height: 100vh;
  display: flex;
  align-content: center;
}

.hero {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  &__title {
    font-family: $font_Averta;
    font-weight: 700;
    font-size: 60px;
    line-height: 1.16;
    max-width: 732px;
    margin-bottom: 40px;
    text-align: center;
  }

  &__subtitle {
    font-family: $font_Averta;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.66;
    opacity: $font-opacity;
    text-align: center;
  }

  &__services {
    font-family: $font_Averta;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.33;
    list-style: none;
    display: flex;
  }

  &__service-item {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      width: 6px;
      height: 6px;
      right: 0;
      left: 4px;
      bottom: 8px;
      border-radius: 50%;
      background-color: $font-color;
    }
  }

  &__service-item:not(:first-of-type) {
    padding-left: 24px;
  }
}
