@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);

$dark-bg-color: #000;
$font-color: #fff;
$font-opacity: 72%;
$font_Averta: 'Averta', sans-serif;
$transparent-white: rgba(255, 255, 255, 0.2);
$breakpoint1: 1456px;
$breakpoint2: 1440px;
$breakpoint3: 1240px;
$breakpoint4: 1020px;
$breakpoint5: 832px;
$breakpoint6: 630px;

@mixin devices1 {
  @media screen and (max-width: $breakpoint1) {
    @content
  }
}

@mixin devices2 {
  @media screen and (max-width: $breakpoint2) {
    @content
  }
}

@mixin devices3 {
  @media screen and (max-width: $breakpoint3) {
    @content
  }
}

@mixin devices4 {
  @media screen and (max-width: $breakpoint4) {
    @content
  }
}

@mixin devices5 {
  @media screen and (max-width: $breakpoint5) {
    @content
  }
}

@mixin devices6 {
  @media screen and (max-width: $breakpoint6) {
    @content
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
}

.round-cursor {
  display: none;

}

@media (any-pointer: fine) {
  .round-cursor {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    pointer-events: none;
    z-index: 1000;

    &__circle {
      stroke: $font-color;
      fill: transparent;
      stroke-width: 2.5px;
      z-index: 1000;
    }
  }
}

.animate__slideInUp {

  &:nth-child(1) {
    animation: 1s slideInUp 0ms;
  }

  &:nth-child(2) {
    animation: 1s slideInUp 200ms;
  }

  &:nth-child(3) {
    animation: 1s slideInUp 400ms;
  }

}

@keyframes slideInUp {
  from {
    transform: translateY(100px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.gradient {
  position: relative;

  &__overlay {
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .8);
    z-index: -1;
  }

  &__circle {
    background-size: contain;
    z-index: -3;
    position: fixed;
    opacity: .6;

    &_left {
      width: 1400px;
      height: 1400px;
      top: -47%;
      left: -35%;
    }

    &_right {
      width: 1200px;
      height: 1200px;
      top: 27%;
      right: -27%;
    }
  }

}

.page {
  background-color: $dark-bg-color;
  min-width: 320px;
  width: 100%;
  font-family: $font_Averta;
  font-weight: 400;
  color: $font-color;
  min-height: 320px;
  position: relative;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  @include devices2 {
    padding: 0 60px;
  }
  @include devices6 {
    padding: 0 16px;
  }

  &__noise {
    z-index: -1;
    background: transparent url('../img/Noise.png') repeat;
    position: fixed;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 200%;
    height: 200vh;
    animation: bg-animation .2s infinite;
    opacity: .9;
    visibility: visible;
  }

  @keyframes bg-animation {
    0% {
      transform: translate(0, 0)
    }
    10% {
      transform: translate(-5%, -5%)
    }
    20% {
      transform: translate(-10%, 5%)
    }
    30% {
      transform: translate(5%, -10%)
    }
    40% {
      transform: translate(-5%, 15%)
    }
    50% {
      transform: translate(-10%, 5%)
    }
    60% {
      transform: translate(15%, 0)
    }
    70% {
      transform: translate(0, 10%)
    }
    80% {
      transform: translate(-15%, 0)
    }
    90% {
      transform: translate(10%, 5%)
    }
    100% {
      transform: translate(5%, 0)
    }
  }
}

.main {

}

.logo__image {
  width: 170px;
  height: 42px;

  @include devices3 {
    width: 150px;
    height: 30px;
  }
}

.link {
  text-decoration: none;
  color: inherit;

  &_lang {
    padding: 12px 14px;
  }

  &:focus {
    border: solid 2px $font-color;
    border-radius: 50%;
    outline: none;
  }

  &:hover {
    cursor: pointer;
  }

  &:hover ~ .round-cursor {
    transform: translate(-50%, -50%) scale(5);
    opacity: 1;
  }
}

.nav {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 130px;
  z-index: 550;
  display: flex;
  align-items: center;

  @include devices2 {
    width: 90px;
  }

  @include devices3 {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    width: auto;
    top: 72px;
  }

  &__wrapper {

  }

  &__container {

  }

  &__items {

  }

  &__link {
    display: flex;
    align-items: center;
    position: relative;
    height: 110px;
    width: 130px;
    text-transform: uppercase;

    &:hover .nav__text {
      transform: translateX(0);
      font-size: 92px;
      line-height: 1.1;
    }

    &:hover::before {
      opacity: 0;
      transform: rotate(-90deg) translateY(-50%);
    }

    &::before {
      content: attr(data-title);
      position: absolute;
      letter-spacing: 3px;
      color: $transparent-white;
      font-size: 12px;
      width: 130px;
      height: 130px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transform: rotate(-90deg);
      left: 0;
      top: 50%;
      margin-top: -65px;
      transition: 0.4s ease-out;
      will-change: transform;
    }
  }

  &__text {
    font-family: $font_Averta;
    display: block;
    font-weight: 700;
    transition: 0.5s ease-in-out;
    flex: none;
    transform: translateX(-101%);
  }

  &__item {
    &_current .text {
      font: $font-color;
    }
  }

}

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 42;


  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 220px;
    background: linear-gradient(to bottom, #000000 0%, rgba(0, 0, 0, 0) 100%);
    pointer-events: none;
    transition: 0.4s;
  }

  &__container {
    width: 100%;
    padding: 52px 65px 0 60px;
    @include devices6 {
      padding: 25px 0 0 16px;
    }
  }

  &__row {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    line-height: 1.5;
    z-index: 45;
  }

  &__to-be-hidden {
    display: flex;
    z-index: 45;
    @include devices3 {
      position: fixed;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      width: auto;
      top: 72px;
    }
  }

  &__column {
    z-index: 42;

    &_logo {
      margin-right: auto;
      @include devices3 {
        width: auto;
      }
    }

    &_contacts {

    }

    &_contacts-list {
      list-style: none;
      display: flex;
    }

    &_contacts-item {
      padding-right: 24px;
      @include devices2 {
        padding: 0 16px;
      }
    }

    &_partnership {
      padding: 0 60px;
      @include devices2 {
        padding: 0 40px;
      }
    }

    &_lang-list {
      list-style: none;
      display: flex;
      width: 98px;
    }
  }
}

.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 42;
  @include devices3 {
    position: absolute;
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 220px;
    background: linear-gradient(to top, #000000 0%, rgba(0, 0, 0, 0) 100%);
    pointer-events: none;
    transition: 0.4s;
    z-index: 0;
  }

  &__row {
    z-index: 45;
    display: flex;
    margin: 0 60px 54px;
    justify-content: space-between;
    align-items: center;

    @include devices3 {
      flex-direction: column;
      margin: 0 0 26px 60px;
      justify-content: end;
      align-items: start;
    }
    @include devices6 {
      margin-left: 16px;
    }
  }

  &__column:last-of-type {
    z-index: 42;
    @include devices3 {
      padding-top: 4px;
    }
  }
}

.hero {
  text-align: center;
  background-image: url('../img/Palladiumlab_background.svg');
  background-repeat: no-repeat;
  background-size: 1360px 548px;
  background-position: center center;
  position: relative;
  overflow: hidden;
  display: flex;
  @include devices1 {
    background-image: url('../img/Palladiumlab_small.svg');
    background-size: contain;
  }
  @include devices2 {
    margin-top: 63px;
  }
  @include devices6 {
    background-size: contain;
  }


  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    @include devices6 {
      margin-top: 450px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
  }


  &__title {
    font-family: $font_Averta;
    font-weight: 700;
    font-size: 60px;
    line-height: 1.16;
    max-width: 732px;
    margin-top: 25px;
    margin-bottom: 40px;
    text-align: center;
    @include devices4 {
      font-size: 45px;
      max-width: 85%;
    }
    @include devices6 {
      font-size: 28px;
    }
  }

  &__subtitle {
    font-family: $font_Averta;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.66;
    opacity: $font-opacity;
    text-align: center;
    @include devices6 {
      font-size: 16px;
    }
  }

  &__services {
    font-family: $font_Averta;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.33;
    list-style: none;
    display: flex;
    opacity: $font-opacity;

    @include devices4 {
      flex-wrap: wrap;
      max-width: 80%;
      justify-content: center;
    }
    @include devices6 {
      font-size: 16px;
    }
  }

  &__service-item {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      width: 6px;
      height: 6px;
      bottom: 6px;
      right: -12px;
      border-radius: 50%;
      background-color: $font-color;
      @include devices6 {
        width: 4px;
        height: 4px;
        bottom: 2px;
        right: -8px;
      }
    }
  }

  &__service-item:not(:first-of-type) {
    padding-left: 24px;
    @include devices6 {
      padding-left: 14px;
    }
  }
}

.main-container {
  width: 100%;
  padding-left: 270px;
  position: relative;
  margin: auto;
  @include devices2 {
    padding-left: 0;
  }
  //@include devices6 {
  //  padding-left: 16px;
  //  padding-right: 16px;
  //}

}

.skills {
  width: 100%;

  &__container {
    margin-top: 47px;
    margin-bottom: 96px;
    display: flex;
    flex-direction: column;
    max-width: 1110px;
    @include devices6 {
      max-width: 100%;
    }
  }

  &__description {
    font-family: $font_Averta;
    font-weight: 700;
    line-height: 1.16;
    font-size: 48px;
    margin: 45px 0;
    @include devices3 {
      font-size: 36px;;
    }
    @include devices6 {
      font-size: 20px;
      margin: 22px 0 30px;
    }
  }

  &__title {
    font-family: $font_Averta;
    font-weight: 700;
    line-height: 1.5;
    font-size: 12px;
    letter-spacing: 3px;
    text-transform: uppercase;
    opacity: $font-opacity;
  }
}


.wavy-link {
  text-transform: uppercase;
  padding-bottom: 25px;
  font-family: $font_Averta;
  font-weight: 700;
  line-height: 1.5;
  font-size: 12px;
  letter-spacing: 3px;
  background-image: url('../img/wavy-line.svg');
  background-repeat: no-repeat;
  background-position: 0 25px;

  &:hover {
    background-image: none;
    border: 2px solid $font-color;
    border-radius: 30px;
    padding: 15px 36px;
  }
}

.projects {
  padding-bottom: 192px;

  @include devices3 {
    padding-bottom: 0;
  }
}


.project {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 60px;
  max-width: 1138px;

  @include devices3 {
    display: flex;
    flex-direction: column;
    margin-bottom: 72px;
  }
  @include devices6 {
    max-width: 100%;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  &__img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    @include devices3 {
      margin-top: 60px;
    }
    @include devices6 {

    }

    &_img {
      height: 668px;
      width: 526px;
      @include devices5 {
        width: 100%;
        height: auto;
      }
    }
  }

  &__category {
    font-family: $font_Averta;
    font-weight: 700;
    line-height: 1.5;
    font-size: 12px;
    letter-spacing: 3px;
    text-transform: uppercase;
    opacity: $font-opacity;
  }

  &__name {
    font-family: $font_Averta;
    font-weight: 700;
    line-height: 1.16;
    font-size: 48px;
    padding-top: 9px;
    @include devices3 {
      font-size: 36px;
    }
    @include devices6 {
      font-size: 28px;
    }
  }

  &__description {
    font-family: $font_Averta;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.66;
    opacity: $font-opacity;
    padding-top: 29px;
    padding-bottom: 35px;
    @include devices3 {
      max-width: 526px;
    }
    @include devices6 {
      font-size: 16px;
      max-width: 100%;
    }
  }

  &:nth-child(even) .project__info {
    grid-column: 2;
    grid-row: 1;
  }

  &:nth-child(even) .project__img-container {
    grid-column: 1;
    grid-row: 1;
  }

  &:nth-child(odd) .project__info {
    grid-column: 1;
    grid-row: 1;
  }

  &:nth-child(odd) .project__img-container {
    grid-column: 2;
    grid-row: 1;
  }

  &:not(:last-of-type) {
    margin-bottom: 85px;
    grid-row: 1;
  }
}

.team {
  height: 946px;
  width: 100%;
  @include devices3 {
    height: 812px;
    display: flex;
    align-items: flex-end;
    justify-content: center;

  }

  &__member-photo {
    object-fit: contain;
    width: 100%;
    height: auto;
  }

  &__member {
    width: 100%;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  &__member-info {
    position: absolute;
    top: 50%;
    left: 0;
    @include devices2 {
      padding-left: 8px;
    }
    @include devices3 {
      padding-left: 0;
      top: -220px;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      text-align: center;
    }
  }

  &__member-name {
    font-family: $font_Averta;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.16;
    @include devices2 {
      font-size: 36px;
    }
  }

  &__member-job {
    font-family: $font_Averta;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.66;
    opacity: $font-opacity;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .arrows {
    &__btn {
      border-radius: 50%;
      border: 2px solid $transparent-white;
      height: 60px;
      width: 60px;
      background-color: transparent;

      &_back {
        margin-right: 24px;
        background-image: url("../img/arrow_back.png");
        background-repeat: no-repeat;
        background-position: center center;
      }

      &_forward {
        background-image: url("../img/arrow_forward.png");
        background-repeat: no-repeat;
        background-position: center center;
      }
    }
  }
}

.contacts {
  padding-top: 192px;
  height: 100vh;

  &__links {
    list-style: none;
    display: flex;
    margin-bottom: 70px;

    &_big {
      @include devices3 {
        flex-direction: column;
      }
    }
  }

  &__links-item_small:not(:first-of-type) {
    padding-left: 36px;
    @include devices3 {
      padding-left: 24px;
    }
  }

  &__links-item_big {
    padding-right: 36px;
    @include devices3 {
      padding-right: 24px;
    }
  }

  &__links-item_big {
    font-family: $font_Averta;
    font-weight: 700;
    line-height: 1.16;
    font-size: 36px;

    @include devices3 {
      font-size: 28px;
      padding-left: 0;
    }
    @include devices6 {
      font-size: 20px;
    }


    &:hover {
      background-image: none;
      border: 2px solid $transparent-white;
      border-radius: 30px;
      padding: 15px 36px;
    }
  }

  &__subtitle {
    font-family: $font_Averta;
    font-weight: 700;
    line-height: 1.5;
    font-size: 12px;
    letter-spacing: 3px;
    text-transform: uppercase;
    opacity: $font-opacity;
  }

  &__text {
    font-family: $font_Averta;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.16;
    margin-top: 45px;
    margin-bottom: 45px;
    max-width: 1104px;
    @include devices3 {
      font-size: 36px;
      max-width: 100%;
    }
    @include devices6 {
      font-size: 20px;
    }
  }
}

.cookies-popup {
  z-index: 998;
  display: flex;
  position: fixed;
  justify-content: flex-start;
  align-items: flex-end;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, .7);
  visibility: hidden;
  opacity: 0;
  transition: all .8s ease-in-out;
  @include devices5 {
    justify-content: center;
  }

  &__container {
    z-index: 999;
    width: 446px;
    height: 74px;
    background-color: #181B23;
    display: flex;
    align-items: center;
    border-radius: 12px;
    margin-bottom: 48px;
    margin-left: 48px;
    padding-right: 12px;
    @include devices4 {
      width: 80%;
      margin-bottom: 30px;
      margin-left: 30px;
    }
    @include devices4 {
      width: 60%;
    }
    @include devices6 {
      width: 90%;
      margin-left: 0;
    }
  }

  &__text {
    font-family: $font_Averta;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    padding: 0 24px;
    opacity: $font-opacity;
    @include devices4 {
      padding: 0 9px;
    }
  }

  &__btn {
    width: 96px;
    height: 50px;
    border-radius: 12px;
    background-color: #333745;
    font-family: $font_Averta;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    border: none;
    outline: none;
    color: $font-color;

    @include devices5 {
      width: 70%;
    }

    &:hover {
      background-color: #5b6070;
    }
  }

  &__link {
    color: $font-color;
  }
}

.active {
  visibility: visible;
  opacity: 1;
}
