@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url("swiper/swiper-bundle.css");
body::-webkit-scrollbar {
  width: 0.3em;
}

a, button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@media (max-width: 767px) {
  * {
    cursor: initial;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
}

.round-cursor {
  display: none;
  height: 33px;
  width: 33px;
  border: 2px solid #fff;
  border-radius: 50%;
  transition: 0.1s;
  transform: translate(-50%, -50%);
}

@media (hover: hover) and (pointer: fine) {
  .round-cursor {
    position: fixed;
    background-color: transparent;
    top: 0px;
    left: 0px;
    display: inline-block;
    pointer-events: none;
    z-index: 1500;
    mix-blend-mode: difference;
  }
}
.animate__slideInUp:nth-child(1) {
  animation: 1s slideInUp 0ms;
}
.animate__slideInUp:nth-child(2) {
  animation: 1s slideInUp 200ms;
}
.animate__slideInUp:nth-child(3) {
  animation: 1s slideInUp 400ms;
}

@keyframes slideInUp {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.gradient {
  position: relative;
  background-color: transparent;
}
.gradient__overlay {
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -3;
}
.gradient__circle {
  background-size: contain;
  z-index: -4;
  position: fixed;
  opacity: 0.7;
  filter: blur(70px);
  background-color: transparent;
}
@media screen and (max-width: 832px) {
  .gradient__circle {
    opacity: 0.8;
    filter: blur(15px);
  }
}
.gradient__circle_left {
  width: 1400px;
  height: 1400px;
  top: -47%;
  left: -35%;
  animation: float 5s ease infinite;
}
@media screen and (max-width: 832px) {
  .gradient__circle_left {
    width: 500px;
    height: 500px;
    top: -37%;
    left: -35%;
  }
}
@media screen and (max-width: 630px) {
  .gradient__circle_left {
    filter: blur(17px);
    width: 600px;
    height: 600px;
    top: -15%;
    left: -44%;
    animation: float2 8s ease infinite;
  }
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  40% {
    transform: translatey(-18rem);
  }
  100% {
    transform: translatey(0);
  }
}
.gradient__circle_right {
  width: 1300px;
  height: 1300px;
  bottom: -55%;
  right: -22%;
  animation: float 8s ease infinite;
}
@media screen and (max-width: 832px) {
  .gradient__circle_right {
    width: 600px;
    height: 600px;
    bottom: -27%;
    right: -20%;
  }
}
@media screen and (max-width: 630px) {
  .gradient__circle_right {
    width: 450px;
    height: 450px;
    bottom: -25%;
    right: -48%;
    animation: float2 8s ease infinite;
  }
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  40% {
    transform: translatey(18rem);
  }
  100% {
    transform: translatey(0);
  }
}
@keyframes float2 {
  0% {
    transform: translatey(0px);
  }
  40% {
    transform: translatey(5rem);
  }
  100% {
    transform: translatey(0);
  }
}

.page {
  background-color: #000;
  min-width: 320px;
  width: 100%;
  font-family: "Averta", sans-serif;
  font-weight: 400;
  color: #fff;
  min-height: 320px;
  position: relative;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1440px) {
  .page {
    padding: 0 60px;
  }
}
@media screen and (max-width: 630px) {
  .page {
    padding: 0 16px;
  }
}
.page__noise {
  z-index: 0;
  background: transparent url("../img/noise2.png") repeat 0 0;
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  animation: bg-animation 0.4s infinite;
  opacity: 0.9;
  visibility: visible;
}
@keyframes bg-animation {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -5%);
  }
  20% {
    transform: translate(-10%, 5%);
  }
  30% {
    transform: translate(5%, -10%);
  }
  40% {
    transform: translate(-5%, 15%);
  }
  50% {
    transform: translate(-10%, 5%);
  }
  60% {
    transform: translate(15%, 0);
  }
  70% {
    transform: translate(0, 10%);
  }
  80% {
    transform: translate(-15%, 0);
  }
  90% {
    transform: translate(10%, 5%);
  }
  100% {
    transform: translate(5%, 0);
  }
}

.main {
  overflow: hidden;
  padding-left: 141px;
}
@media screen and (max-width: 1240px) {
  .main {
    padding-left: 0;
  }
}

.logo__image {
  width: 170px;
  height: 42px;
}
@media screen and (max-width: 1240px) {
  .logo__image {
    width: 150px;
    height: 30px;
  }
}

.link {
  text-decoration: none;
  color: inherit;
}
.link_lang {
  padding: 12px 14px;
}

.hovered {
  width: 58px;
  height: 58px;
  background-color: #fff;
}

.nav {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 130px;
  z-index: 550;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1440px) {
  .nav {
    width: 90px;
  }
}
@media screen and (max-width: 1240px) {
  .nav {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    width: auto;
    top: 72px;
  }
}
.nav__link {
  display: flex;
  align-items: center;
  position: relative;
  height: 110px;
  width: 130px;
  text-transform: uppercase;
}
.nav__link:hover .nav__text {
  transform: translateX(0);
  font-size: 92px;
  line-height: 1.1;
}
.nav__link:hover::before {
  opacity: 0;
  transform: rotate(-90deg) translateY(-50%);
}
.nav__link::before {
  content: attr(data-title);
  position: absolute;
  letter-spacing: 3px;
  color: rgba(255, 255, 255, 0.2);
  font-size: 12px;
  width: 130px;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: rotate(-90deg);
  left: 0;
  top: 50%;
  margin-top: -65px;
  transition: 0.4s ease-out;
  will-change: transform;
}
.nav__text {
  font-family: "Averta", sans-serif;
  display: block;
  font-weight: 700;
  transition: 0.5s ease-in-out;
  flex: none;
  transform: translateX(-101%);
}
.nav__item_current .text {
  font: #fff;
}

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 42;
}
.header__hamburger {
  display: none;
  opacity: 0;
  width: 24px;
  height: 24px;
  margin-right: 16px;
}
@media screen and (max-width: 1240px) {
  .header__hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 1;
  }
}
.header__hamburger_bar {
  width: 100%;
  height: 2px;
  display: block;
  background-color: #fff;
}
.header::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 220px;
  background: linear-gradient(to bottom, #000000 0%, rgba(0, 0, 0, 0) 100%);
  pointer-events: none;
  transition: 0.4s;
}
@media screen and (max-width: 832px) {
  .header::before {
    height: 65px;
  }
}
.header__container {
  width: 100%;
  padding: 52px 65px 0 60px;
}
@media screen and (max-width: 630px) {
  .header__container {
    padding: 25px 16px 0;
  }
}
.header__row {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  line-height: 1.5;
  z-index: 45;
}
@media screen and (max-width: 1020px) {
  .header__row {
    align-items: flex-end;
  }
}
.header__to-be-hidden {
  display: flex;
  z-index: 45;
}
@media screen and (max-width: 1240px) {
  .header__to-be-hidden {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    width: auto;
    top: 72px;
  }
}
.header__column {
  z-index: 42;
}
.header__column_lang-item:first-of-type {
  text-decoration: underline;
}
.header__column_logo {
  margin-right: auto;
}
@media screen and (max-width: 1240px) {
  .header__column_logo {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
.header__column_contacts-list {
  list-style: none;
  display: flex;
}
.header__column_contacts-item {
  padding-right: 24px;
}
@media screen and (max-width: 1440px) {
  .header__column_contacts-item {
    padding: 0 16px;
  }
}
.header__column_partnership {
  padding: 0 60px;
}
@media screen and (max-width: 1440px) {
  .header__column_partnership {
    padding: 0 40px;
  }
}
.header__column_lang-list {
  list-style: none;
  display: flex;
  width: 98px;
}

.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 42;
}
@media screen and (max-width: 1240px) {
  .footer {
    position: absolute;
  }
}
.footer__row {
  z-index: 45;
  display: flex;
  margin: 0 60px 54px;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 832px) {
  .footer__row {
    flex-direction: column;
    margin: 0 0 26px 60px;
    justify-content: end;
    align-items: start;
  }
}
@media screen and (max-width: 630px) {
  .footer__row {
    margin-left: 16px;
  }
}
.footer__column:last-of-type {
  z-index: 42;
}
@media screen and (max-width: 1240px) {
  .footer__column:last-of-type {
    padding-top: 4px;
  }
}

.hero {
  min-height: 100vh;
  z-index: -2;
  text-align: center;
  background-image: url("../img/Palladiumlab_background.svg");
  background-repeat: no-repeat;
  background-size: 1360px 548px;
  background-position: center center;
  position: relative;
  overflow: hidden;
  display: flex;
}
@media screen and (max-width: 1440px) {
  .hero {
    background-image: url("../img/Palladiumlab_small.svg");
    background-size: contain;
  }
}
@media screen and (max-width: 1440px) {
  .hero {
    margin-top: 63px;
  }
}
@media screen and (max-width: 630px) {
  .hero {
    background-size: contain;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    min-height: 100vh;
  }
}
.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}
.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}
@media screen and (max-width: 832px) {
  .hero__content {
    align-items: flex-start;
  }
}
.hero__title {
  font-family: "Averta", sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 1.16;
  max-width: 732px;
  margin-top: 25px;
  margin-bottom: 40px;
  text-align: center;
}
@media screen and (max-width: 1020px) {
  .hero__title {
    font-size: 45px;
    max-width: 85%;
  }
}
@media screen and (max-width: 832px) {
  .hero__title {
    text-align: left;
  }
}
@media screen and (max-width: 630px) {
  .hero__title {
    font-size: 28px;
  }
}
.hero__subtitle {
  font-family: "Averta", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  opacity: 72%;
  text-align: center;
}
@media screen and (max-width: 832px) {
  .hero__subtitle {
    text-align: left;
  }
}
@media screen and (max-width: 630px) {
  .hero__subtitle {
    font-size: 16px;
  }
}
.hero__services {
  font-family: "Averta", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.33;
  list-style: none;
  display: flex;
  justify-content: space-between;
  opacity: 72%;
}
@media screen and (max-width: 1020px) {
  .hero__services {
    flex-wrap: wrap;
    max-width: 85%;
    justify-content: center;
    font-size: 16px;
  }
}
@media screen and (max-width: 832px) {
  .hero__services {
    justify-content: flex-start;
    max-width: 312px;
  }
}
.hero__service-item:not(:first-of-type) {
  padding-left: 12px;
}
@media screen and (max-width: 630px) {
  .hero__service-item:not(:first-of-type) {
    padding-left: 8px;
  }
}
@media screen and (max-width: 832px) {
  .hero__service-item:not(:nth-of-type(2)):not(:nth-of-type(4)) {
    padding-left: 0;
  }
}
.hero__service-item {
  position: relative;
  padding-right: 12px;
}
.hero__service-item:after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  bottom: 0.23em;
  right: 0;
  border-radius: 50%;
  background-color: #fff;
}
@media screen and (max-width: 1020px) {
  .hero__service-item:after {
    width: 4px;
    height: 4px;
    bottom: 0.26em;
  }
}

.main-container {
  width: 100%;
  padding: 0 270px;
  position: relative;
  margin: auto;
}
@media screen and (max-width: 1440px) {
  .main-container {
    padding: 0;
  }
}
@media screen and (max-width: 630px) {
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.skills {
  width: 100%;
  margin-bottom: 85px;
}
@media screen and (max-width: 630px) {
  .skills {
    margin-bottom: 120px;
  }
}
.skills __container {
  margin-top: 47px;
  margin-bottom: 96px;
  display: flex;
  flex-direction: column;
  max-width: 1110px;
}
@media screen and (max-width: 630px) {
  .skills __container {
    max-width: 100%;
  }
}
.skills__description {
  font-family: "Averta", sans-serif;
  font-weight: 700;
  line-height: 1.16;
  font-size: 48px;
  margin: 45px 0;
}
@media screen and (max-width: 1240px) {
  .skills__description {
    font-size: 36px;
  }
}
@media screen and (max-width: 630px) {
  .skills__description {
    font-size: 20px;
    margin: 22px 0 30px;
  }
}
.skills__title {
  font-family: "Averta", sans-serif;
  font-weight: 700;
  line-height: 1.5;
  font-size: 12px;
  letter-spacing: 3px;
  text-transform: uppercase;
  opacity: 72%;
}

.wavy-link {
  text-transform: uppercase;
  padding-bottom: 25px;
  font-family: "Averta", sans-serif;
  font-weight: 700;
  line-height: 1.5;
  font-size: 12px;
  letter-spacing: 3px;
  background-image: url("../img/wavy-line.svg");
  background-repeat: no-repeat;
  background-position: 0 25px;
}

.projects {
  padding-bottom: 192px;
}
@media screen and (max-width: 832px) {
  .projects {
    padding-bottom: 90px;
  }
}

.project {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 60px;
  max-width: 1138px;
}
@media screen and (max-width: 1020px) {
  .project {
    column-gap: 30px;
  }
}
@media screen and (max-width: 630px) {
  .project {
    display: flex;
    flex-direction: column;
    margin-bottom: 72px;
    max-width: 100%;
  }
}
.project__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.project__img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
@media screen and (max-width: 1240px) {
  .project__img-container {
    margin-top: 60px;
  }
}
.project__img-container_img {
  height: 668px;
  width: 526px;
}
@media screen and (max-width: 1020px) {
  .project__img-container_img {
    width: 100%;
    height: auto;
  }
}
.project__category {
  font-family: "Averta", sans-serif;
  font-weight: 700;
  line-height: 1.5;
  font-size: 12px;
  letter-spacing: 3px;
  text-transform: uppercase;
  opacity: 72%;
}
.project__name {
  font-family: "Averta", sans-serif;
  font-weight: 700;
  line-height: 1.16;
  font-size: 48px;
  padding-top: 9px;
}
@media screen and (max-width: 1240px) {
  .project__name {
    font-size: 36px;
  }
}
@media screen and (max-width: 630px) {
  .project__name {
    font-size: 28px;
  }
}
.project__description {
  font-family: "Averta", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  opacity: 72%;
  padding-top: 29px;
  padding-bottom: 35px;
}
@media screen and (max-width: 1240px) {
  .project__description {
    max-width: 526px;
  }
}
@media screen and (max-width: 630px) {
  .project__description {
    font-size: 16px;
    max-width: 100%;
  }
}
.project:nth-child(even) .project__info {
  grid-column: 2;
  grid-row: 1;
}
.project:nth-child(even) .project__img-container {
  grid-column: 1;
  grid-row: 1;
}
.project:nth-child(odd) .project__info {
  grid-column: 1;
  grid-row: 1;
}
.project:nth-child(odd) .project__img-container {
  grid-column: 2;
  grid-row: 1;
}
.project:not(:last-of-type) {
  margin-bottom: 85px;
  grid-row: 1;
}

.swiper {
  justify-content: center;
  flex-direction: column;
  display: flex;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  align-content: flex-end;
}
@media screen and (max-width: 1020px) {
  .swiper-slide {
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
  }
}
@media screen and (max-width: 832px) {
  .swiper-slide {
    text-align: center;
    position: static;
    flex-direction: column;
    align-items: center;
  }
}

.swiper-nav {
  position: absolute;
  left: 0;
  top: 22rem;
  padding: 0;
  z-index: 10;
}
@media screen and (max-width: 832px) {
  .swiper-nav {
    padding-top: 50px;
    padding-bottom: 50px;
    bottom: unset;
    display: flex;
    justify-content: center;
    top: unset;
    position: static;
    width: 100%;
  }
}

.swiper-nav-left {
  margin-right: 24px;
}
.swiper-nav-left:hover {
  transform: translateY(-1px);
}

.swiper-nav-right:hover {
  transform: translateY(-1px);
}

.swiper-pagination-bullet {
  background-color: #fff;
}

.team {
  min-height: 100vh;
  width: 100%;
  overflow: visible;
  display: flex;
  justify-content: center;
  align-items: center;
}
.team__member-photo {
  object-fit: cover;
  max-width: 100%;
  max-height: 70vh;
}
.team__member-info {
  position: absolute;
  left: 0;
  top: 14rem;
  text-align: left;
}
@media screen and (max-width: 832px) {
  .team__member-info {
    text-align: center;
    position: static;
    padding-bottom: 10%;
  }
}
.team__member-name {
  font-family: "Averta", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.16;
}
@media screen and (max-width: 1440px) {
  .team__member-name {
    font-size: 36px;
  }
}
@media screen and (max-width: 630px) {
  .team__member-name {
    font-size: 28px;
  }
}
.team__member-job {
  font-family: "Averta", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  opacity: 72%;
  margin-top: 24px;
}
@media screen and (max-width: 630px) {
  .team__member-job {
    font-size: 16px;
    margin-top: 4px;
  }
}

/*
.swiper-pagination {
    bottom: 15% !important;
}*/
.contacts {
  padding-top: 192px;
  min-height: 100vh;
}
.contacts__links {
  list-style: none;
  display: flex;
  margin-bottom: 70px;
}
@media screen and (max-width: 1240px) {
  .contacts__links_big {
    flex-direction: column;
  }
}
.contacts__links-item_small:not(:first-of-type) {
  padding-left: 36px;
}
@media screen and (max-width: 1240px) {
  .contacts__links-item_small:not(:first-of-type) {
    padding-left: 24px;
  }
}
.contacts__links-item_big {
  padding-right: 36px;
}
@media screen and (max-width: 1240px) {
  .contacts__links-item_big {
    padding-right: 24px;
  }
}
.contacts__links-item_big {
  font-family: "Averta", sans-serif;
  font-weight: 700;
  line-height: 1.16;
  font-size: 36px;
}
@media screen and (max-width: 1240px) {
  .contacts__links-item_big {
    font-size: 28px;
    padding-left: 0;
  }
}
@media screen and (max-width: 630px) {
  .contacts__links-item_big {
    font-size: 20px;
  }
}
.contacts__subtitle {
  font-family: "Averta", sans-serif;
  font-weight: 700;
  line-height: 1.5;
  font-size: 12px;
  letter-spacing: 3px;
  text-transform: uppercase;
  opacity: 72%;
}
.contacts__text {
  font-family: "Averta", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.16;
  margin-top: 45px;
  margin-bottom: 45px;
  max-width: 1104px;
}
@media screen and (max-width: 1240px) {
  .contacts__text {
    font-size: 36px;
    max-width: 100%;
  }
}
@media screen and (max-width: 630px) {
  .contacts__text {
    font-size: 20px;
  }
}

.cookies-popup {
  z-index: 998;
  display: flex;
  position: fixed;
  justify-content: flex-start;
  align-items: flex-end;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  opacity: 0;
  transition: all 0.8s ease-in-out;
}
@media screen and (max-width: 832px) {
  .cookies-popup {
    justify-content: center;
  }
}
.cookies-popup__container {
  z-index: 999;
  width: 446px;
  height: 74px;
  background-color: #181B23;
  display: flex;
  align-items: center;
  border-radius: 12px;
  margin-bottom: 48px;
  margin-left: 48px;
  padding-right: 12px;
}
@media screen and (max-width: 1020px) {
  .cookies-popup__container {
    width: 80%;
    margin-bottom: 30px;
    margin-left: 30px;
  }
}
@media screen and (max-width: 1020px) {
  .cookies-popup__container {
    width: 60%;
  }
}
@media screen and (max-width: 630px) {
  .cookies-popup__container {
    width: 90%;
    margin-left: 0;
  }
}
.cookies-popup__text {
  font-family: "Averta", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  padding: 0 24px;
  opacity: 72%;
}
@media screen and (max-width: 1020px) {
  .cookies-popup__text {
    padding: 0 9px;
  }
}
.cookies-popup__btn {
  width: 96px;
  height: 50px;
  border-radius: 12px;
  background-color: #333745;
  font-family: "Averta", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  border: none;
  outline: none;
  color: #fff;
}
.cookies-popup__btn:hover {
  transform: translateY(-1px);
}
@media screen and (max-width: 832px) {
  .cookies-popup__btn {
    width: 70%;
  }
}
.cookies-popup__btn:hover {
  background-color: #5b6070;
}
.cookies-popup__link {
  color: #fff;
}

.active {
  visibility: visible;
  opacity: 1;
}

.reveal {
  position: relative;
  transition: 0.5s all ease;
  opacity: 0;
  transform: translateY(10rem);
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

/*# sourceMappingURL=styles.css.map */
