@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
}

.round-cursor {
  display: none;
}

@media (any-pointer: fine) {
  .round-cursor {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    pointer-events: none;
    z-index: 1000;
  }
  .round-cursor__circle {
    stroke: #fff;
    fill: transparent;
    stroke-width: 2.5px;
    z-index: 1000;
  }
}
.page {
  background-color: #111;
  min-width: 320px;
  width: 100%;
  font-family: "Averta", sans-serif;
  font-weight: 400;
  color: #fff;
  min-height: 320px;
  position: relative;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}

.logo__image {
  width: 170px;
  height: 42px;
}

.link {
  text-decoration: none;
  color: inherit;
}
.link_lang {
  padding: 12px 14px;
}
.link:focus {
  border: solid 2px #fff;
  border-radius: 50%;
  outline: none;
}
.link:hover {
  cursor: pointer;
}
.link:hover ~ .round-cursor {
  transform: translate(-50%, -50%) scale(5);
  opacity: 1;
}

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 42;
}
.header__container {
  width: 100%;
  padding: 52px 65px 0 60px;
}
.header__row {
  display: flex;
  width: 100%;
  align-items: center;
  font-size: 16px;
  line-height: 1.5;
}
.header__column_logo {
  margin-right: auto;
}
.header__column_contacts-list {
  list-style: none;
  display: flex;
}
.header__column_contacts-item {
  padding-right: 24px;
}
.header__column_partnership {
  padding: 0 60px;
}
.header__column_lang-list {
  list-style: none;
  display: flex;
  width: 98px;
}

.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 42;
}
.footer__row {
  display: flex;
  margin: 0 60px 54px;
  justify-content: space-between;
  align-items: center;
}

.hero {
  text-align: center;
  background-image: url("../img/Palladiumlab_background.svg");
  background-repeat: no-repeat;
  background-size: 1360px 548px;
  background-position: center center;
  position: relative;
  overflow: hidden;
  display: flex;
}
.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  width: 1170px;
  margin: 0 auto;
}
.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}
.hero__title {
  font-family: "Averta", sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 1.16;
  max-width: 732px;
  margin-top: 25px;
  margin-bottom: 40px;
  text-align: center;
}
.hero__subtitle {
  font-family: "Averta", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  opacity: 72%;
  text-align: center;
}
.hero__services {
  font-family: "Averta", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.33;
  list-style: none;
  display: flex;
  opacity: 72%;
}
.hero__service-item {
  position: relative;
}
.hero__service-item:after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  bottom: 8px;
  right: -8px;
  border-radius: 50%;
  background-color: #fff;
}
.hero__service-item:not(:first-of-type) {
  padding-left: 24px;
}

.main-container {
  width: 100%;
  padding-left: 270px;
  position: relative;
  margin: auto;
}

.skills {
  width: 100%;
}
.skills__container {
  margin-top: 47px;
  margin-bottom: 96px;
  display: flex;
  flex-direction: column;
  width: 1110px;
}
.skills__description {
  font-family: "Averta", sans-serif;
  font-weight: 700;
  line-height: 1.16;
  font-size: 48px;
  margin: 45px 0;
}
.skills__title {
  font-family: "Averta", sans-serif;
  font-weight: 700;
  line-height: 1.5;
  font-size: 12px;
  letter-spacing: 3px;
  text-transform: uppercase;
  opacity: 72%;
}

.wavy-link {
  text-transform: uppercase;
  padding-bottom: 25px;
  font-family: "Averta", sans-serif;
  font-weight: 700;
  line-height: 1.5;
  font-size: 12px;
  letter-spacing: 3px;
  background-image: url("../img/wavy-line.svg");
  background-repeat: no-repeat;
  background-position: 0 25px;
}
.wavy-link:hover {
  background-image: none;
  border: 2px solid #fff;
  border-radius: 30px;
  padding: 15px 36px;
}

.projects {
  padding-bottom: 192px;
}

.project {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 60px;
  max-width: 1138px;
}
.project __info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.project__img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.project__category {
  font-family: "Averta", sans-serif;
  font-weight: 700;
  line-height: 1.5;
  font-size: 12px;
  letter-spacing: 3px;
  text-transform: uppercase;
  opacity: 72%;
}
.project__name {
  font-family: "Averta", sans-serif;
  font-weight: 700;
  line-height: 1.16;
  font-size: 48px;
  padding-top: 9px;
}
.project__description {
  font-family: "Averta", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  opacity: 72%;
  padding-top: 29px;
  padding-bottom: 35px;
}
.project__img {
  height: 668px;
  width: 526px;
}
.project:nth-child(even) .project__info {
  grid-column: 2;
  grid-row: 1;
}
.project:nth-child(even) .project__img-container {
  grid-column: 1;
  grid-row: 1;
}
.project:nth-child(odd) .project__info {
  grid-column: 1;
  grid-row: 1;
}
.project:nth-child(odd) .project__img-container {
  grid-column: 2;
  grid-row: 1;
}
.project:not(:last-of-type) {
  margin-bottom: 85px;
  grid-row: 1;
}

.team__member {
  height: 946px;
  background-image: url(../img/Mikhail.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: contain;
  z-index: 1;
}
.team__member-name {
  font-family: "Averta", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.16;
  padding-top: 522px;
}
.team__member-job {
  font-family: "Averta", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  opacity: 72%;
  margin-top: 24px;
  margin-bottom: 24px;
}
.team .arrows__btn {
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.2);
  height: 60px;
  width: 60px;
  background-color: transparent;
}
.team .arrows__btn_back {
  margin-right: 24px;
  background-image: url("../img/arrow_back.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.team .arrows__btn_forward {
  background-image: url("../img/arrow_forward.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.contacts {
  padding-top: 192px;
  height: 100vh;
}
.contacts__links {
  list-style: none;
  display: flex;
  margin-bottom: 70px;
}
.contacts__links-item:not(:first-of-type) {
  padding-left: 36px;
}
.contacts__links-item_big {
  font-family: "Averta", sans-serif;
  font-weight: 700;
  line-height: 1.16;
  font-size: 36px;
}
.contacts__links-item_big:hover {
  background-image: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  padding: 15px 36px;
}
.contacts__subtitle {
  font-family: "Averta", sans-serif;
  font-weight: 700;
  line-height: 1.5;
  font-size: 12px;
  letter-spacing: 3px;
  text-transform: uppercase;
  opacity: 72%;
}
.contacts__text {
  font-family: "Averta", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.16;
  margin-top: 45px;
  margin-bottom: 45px;
  max-width: 1104px;
}

/*# sourceMappingURL=styles.css.map */
