@import url(vendor/normalize.css);
@import url(vendor/fonts/fonts.css);

$dark-bg-color: #111;
$font-color: #fff;
$font-opacity: 72%;
$font_Zona: 'Zona Pro', sans-serif;
$font_Averta: 'Averta', sans-serif;
$transparent-white: rgba(255, 255, 255, 0.2);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
}

.round-cursor {
  display: none;

}

@media (any-pointer: fine) {
  .round-cursor {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    pointer-events: none;
    z-index: 1000;

    &__circle {
      stroke: $font-color;
      fill: transparent;
      stroke-width: 2px;
      z-index: 1000;
    }
  }
}

span {

}

.page {
  background-color: $dark-bg-color;
  min-width: 320px;
  width: 100%;
  font-family: $font_Averta;
  font-weight: 400;
  color: $font-color;
  min-height: 320px;
  position: relative;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}

.main {
}

.logo__image {
  width: 170px;
  height: 42px;
}

.link {
  text-decoration: none;
  color: inherit;

  &_lang {
    padding: 12px 14px;
  }

  &:focus {
    border: solid 2px $font-color;
    border-radius: 50%;
    outline: none;
  }

  &:hover {
    cursor: pointer;
  }

  &:hover ~ .round-cursor {
    transform: translate(-50%, -50%) scale(5);
    opacity: 1;
  }
}

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 42;

  &__container {
    width: 100%;
    padding: 52px 65px 0 60px;
  }

  &__row {
    display: flex;
    width: 100%;
    align-items: center;
    font-size: 16px;
    line-height: 1.5;
  }

  &__column {
    &_logo {
      margin-right: auto;
    }

    &_contacts {

    }

    &_contacts-list {
      list-style: none;
      display: flex;
    }

    &_contacts-item {
      padding-right: 24px;
    }

    &_partnership {
      padding: 0 60px;
    }

    &_lang-list {
      list-style: none;
      display: flex;
      width: 98px;
    }
  }
}

.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 42;

  &__row {
    display: flex;
    margin: 0 60px 54px;
    justify-content: space-between;
    align-items: center;
  }
}

.hero {
  text-align: center;
  background-image: url('img/Palladiumlab_background.svg');
  background-repeat: no-repeat;
  background-size: 1360px 548px;
  background-position: center center;
  position: relative;
  overflow: hidden;
  display: flex;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    width: 1170px;
    margin: 0 auto;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
  }


  &__title {
    font-family: $font_Averta;
    font-weight: 700;
    font-size: 60px;
    line-height: 1.16;
    max-width: 732px;
    margin-top: 25px;
    margin-bottom: 40px;
    text-align: center;
  }

  &__subtitle {
    font-family: $font_Averta;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.66;
    opacity: $font-opacity;
    text-align: center;
  }

  &__services {
    font-family: $font_Averta;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.33;
    list-style: none;
    display: flex;
    opacity: $font-opacity;
  }

  &__service-item {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      width: 6px;
      height: 6px;
      bottom: 8px;
      right: -8px;
      border-radius: 50%;
      background-color: $font-color;
    }
  }

  &__service-item:not(:first-of-type) {
    padding-left: 24px;
  }
}

.main-container {
  width: 100%;
  padding-left: 270px;
  position: relative;
  margin: auto;
}

.skills {
  width: 100%;

  &__container {
    margin-top: 47px;
    margin-bottom: 96px;
    display: flex;
    flex-direction: column;
    width: 1110px;
  }

  &__description {
    font-family: $font_Averta;
    font-weight: 700;
    line-height: 1.16;
    font-size: 48px;
    margin: 45px 0;
  }

  &__title {
    font-family: $font_Averta;
    font-weight: 700;
    line-height: 1.5;
    font-size: 12px;
    letter-spacing: 3px;
    text-transform: uppercase;
    opacity: $font-opacity;
  }
}


.wavy-link {
  text-transform: uppercase;
  padding-bottom: 25px;
  font-family: $font_Averta;
  font-weight: 700;
  line-height: 1.5;
  font-size: 12px;
  letter-spacing: 3px;
  background-image: url('img/wavy-line.svg');
  background-repeat: no-repeat;
  background-position: 0 25px;

  &:hover {
    background-image: none;
    border: 2px solid $transparent-white;
    border-radius: 30px;
    padding: 15px 36px;
  }
}

.projects {
  padding-bottom: 192px;
}


.project {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 60px;
  max-width: 1138px;

  & __info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  &__img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  &__category {
    font-family: $font_Averta;
    font-weight: 700;
    line-height: 1.5;
    font-size: 12px;
    letter-spacing: 3px;
    text-transform: uppercase;
    opacity: $font-opacity;
  }

  &__name {
    font-family: $font_Averta;
    font-weight: 700;
    line-height: 1.16;
    font-size: 48px;
    padding-top: 9px;
  }

  &__description {
    font-family: $font_Averta;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.66;
    opacity: $font-opacity;
    padding-top: 29px;
    padding-bottom: 35px;
  }

  &__img {
    height: 668px;
    width: 526px;
  }

  &:nth-child(even) .project__info {
    grid-column: 2;
    grid-row: 1;
  }

  &:nth-child(even) .project__img-container {
    grid-column: 1;
    grid-row: 1;
  }

  &:nth-child(odd) .project__info {
    grid-column: 1;
    grid-row: 1;
  }

  &:nth-child(odd) .project__img-container {
    grid-column: 2;
    grid-row: 1;
  }

  &:not(:last-of-type) {
    margin-bottom: 85px;
    grid-row: 1;
  }
}

.team {


  &__member {
    height: 946px;
    background-image: url(img/Mikhail.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
    z-index: 1;
  }

  &__member-name {
    font-family: $font_Averta;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.16;
    padding-top: 522px;
  }

  &__member-job {
    font-family: $font_Averta;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.66;
    opacity: $font-opacity;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .arrows {
    &__btn {
      border-radius: 50%;
      border: 2px solid $transparent-white;
      height: 60px;
      width: 60px;
      background-color: transparent;

      &_back {
        margin-right: 24px;
        background-image: url("img/arrow_back.png");
        background-repeat: no-repeat;
        background-position: center center;
      }

      &_forward {
        background-image: url("img/arrow_forward.png");
        background-repeat: no-repeat;
        background-position: center center;
      }
    }
  }
}

.contacts {
  padding-top: 192px;
  height: 100vh;

  &__links {
    list-style: none;
    display: flex;
    margin-bottom: 70px;
  }

  &__links-item:not(:first-of-type) {
    padding-left: 36px;
  }

  &__links-item_big {
    font-family: $font_Averta;
    font-weight: 700;
    line-height: 1.16;
    font-size: 36px;


    &:hover {
      background-image: none;
      border: 2px solid $transparent-white;
      border-radius: 30px;
      padding: 15px 36px;
    }
  }

  &__subtitle {
    font-family: $font_Averta;
    font-weight: 700;
    line-height: 1.5;
    font-size: 12px;
    letter-spacing: 3px;
    text-transform: uppercase;
    opacity: $font-opacity;
  }

  &__text {
    font-family: $font_Averta;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.16;
    margin-top: 45px;
    margin-bottom: 45px;
    max-width: 1104px;
  }
}

